<section class="image-masthead">
  <h1 class="sr-only"> Browse or Deposit Work in DataCORE </h1>
    <div class="splash-text">
      <div class="splash-container">
        <div class="container">
          <div class="col-md-8 splash-surround">
            <div class="splash-text--medium splash-text--above">
            <p>IU DataCORE is an open-access institutional data repository designed to support the sharing, long-term preservation, and discovery of research data
              collected by researchers at Indiana University.&nbsp;
              For our repository of publications please visit IU ScholarWorks:
              <a href="https://scholarworks.iu.edu/dspace/home" target="blank">https://scholarworks.iu.edu/dspace/home</a>.
            </p>

              <p>You will need permissions to submit datasets.<br />
                Please contact IU Libraries Research Data Services (<a href="mailto:resdata@iu.edu">resdata@iu.edu</a>) to receive deposit permissions.
              </p>
            </div>
          </div>
        <div class="col-md-4">
          <div class="splash-text--small">
            <!--Placeholder for Browse + Deposit/Share your work buttons-->
            <div class="home_share_work row">
              <div class="col-sm-12 text-center">
                <%= link_to "<i class=\"glyphicon glyphicon-search\" aria-hidden=\"true\"></i> #{t('hyrax.browse')}".html_safe, main_app.search_catalog_path, class: "btn btn-primary btn-lg browse-btn", id: "browse_link", style: 'width: 100%' %>
              </div>
            </div>
              <% if @presenter.display_share_button? %>
                <div class="home_share_work row">
                  <div class="col-sm-12 text-center">
                    <% if signed_in? && (current_ability.can? :manage_any, Collection) %>
                      <% if @presenter.create_many_work_types? %>
                        <%= link_to '#',
                          class: "btn btn-primary btn-lg",
                          style: 'width: 100%',
                          data: { behavior: 'select-work', target: '#worktypes-to-create', 'create-type' => 'single' } do %>
                          <i class="glyphicon glyphicon-upload" aria-hidden="true"></i> <%= t('hyrax.share_button') %>
                        <% end %>
                      <% else # simple link to the first work type %>
                        <%= link_to new_polymorphic_path([main_app, @presenter.first_work_type]),
                              class: 'btn btn-primary btn-lg', style: 'width: 100%'  do %>
                          <i class="glyphicon glyphicon-upload" aria-hidden="true"></i> <%= t('hyrax.share_button') %>
                        <% end %>
                      <% end %>
                    <%# else %>
                      <%#= link_to hyrax.my_works_path,
                        class: "btn btn-primary btn-lg", style: 'width: 100%'  do %>
                        <!--<i class="glyphicon glyphicon-upload" aria-hidden="true"></i> <%= t('hyrax.share_button') %>-->
                      <%# end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <!-- End Share buttons -->
          </div>
        </div>
      </div>
    </div>
    </div>
</section>
