<% @presenter.clear_invalid_dates! %>
<%= form_for "stats_filters", url: hyrax.admin_stats_path, method: "GET" do |f| %>
  <input type='hidden' name='locale' value="<%= params[:locale] %>" />
  <%= f.label "Start *" %>
  <input type="date" name="stats_filters[start_date]" value="<%= @presenter.stats_filters[:start_date] %>" placeholder="yyyy-mm-dd"></input>
  <%= f.label "end [defaults to now]" %>
  <input type="date" name="stats_filters[end_date]" value="<%= @presenter.stats_filters[:end_date] %>" placeholder="yyyy-mm-dd"></input>
  <%= f.submit "Load Stats" %>

  <% if @presenter.stats_filters[:start_date].blank? and @presenter.stats_filters[:end_date].present? %>
    <label class="warning-message">Please select a Start Date.</label>
  <% end %>
  <% if !@presenter.valid_dates %>
    <label class="warning-message">Please select an End Date later than the Start Date.</label>
  <% end %>
<%- end %>

<script type="application/javascript">
    $('a[href^="/admin/stats"]').parent().addClass("active");

    $(".breadcrumb li").each((id, elem) => {
        if (elem.innerText === "Reports") {
            elem.children[0].remove();
            elem.innerText = "Reports";
        }
    });
</script>
