  <div class="panel panel-default panel-edit">
    <div class="panel-heading">
      <h2>Edit Work</h2>
    </div>
    <div class="panel-body">
      <div class="button-set">
        <%= link_to t('simple_form.actions.data_set.edit_work'),
                    edit_polymorphic_path([main_app, @presenter]),
                    class: 'btn btn-primary' %>
        <% if ( @presenter.doi_minting_enabled? && !@presenter.doi_minted? ) || @presenter.current_ability.admin? %>
          <%= link_to t('simple_form.actions.data_set.delete'),
                      [main_app, @presenter],
                      class: 'btn btn-danger',
                      data: { confirm: "Delete this #{@presenter.human_readable_type}?" },
                      method: :delete %>
        <% end %>
        <% if @presenter.doi_minting_enabled? && !@presenter.doi_minted? %>
          <br/><br/>
          <% if @presenter.doi_pending? %>
            <button class="btn btn-primary disabled" title="DOI minting processing">
              <%= t('simple_form.actions.data_set.mint_doi') %>
            </button>
            <p>DOI minting is currently processing.</p>
          <% elsif @presenter.current_ability.admin? %>
            <button class="btn btn-primary" data-target="#mintDoiId" data-toggle="modal">
              <%= t('simple_form.actions.data_set.mint_doi') %>
            </button>
          <% else %>
            <button class="btn btn-primary disabled" title="DOI minting restricted to admins">
              <%= t('simple_form.actions.data_set.mint_doi') %>
            </button>
            <p><%= raw (t('simple_form.actions.data_set.mint_help', contact_path: hyrax.contact_path)) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
