<div class="show-actions">
  <% if @presenter.tombstone.blank? %>

    <%= render 'download_panel' %>

    <% if ((@presenter.editor? && @presenter.workflow.state != "deposited" ) ||
         @presenter.current_ability.admin? ) %>
      <%= render 'edit_panel' %>
    <% end %>

    <% if Hyrax.config.analytics? %>
      <%= render 'analytics_panel' %>
    <% end %>

    <% if @presenter.current_ability.admin? %>
      <%= render 'admin_panel' %>
    <% end %>
  <% end %>

  <!-- COinS hook for Zotero -->
  <span class="Z3988" title="<%= export_as_openurl_ctx_kev(@presenter) %>"></span>
</div>

<%= render 'modal_mint_doi', id: @presenter.id %>
<%= render 'modal_tombstone_work', id: @presenter.id %>
