<% @presenter.title.each_with_index do |title, index| %>
  <div class="row">
    <div class="col-sm-12">
      <% if index == 0 %>
        <h2 class="title-header"><span class="bold">Title: </span><%= title %></h2>
          <% if @presenter.tombstone.present? %>
            <span class="label label-danger">Tombstone</span> <%= presenter.workflow.badge %>
          <% else %>
            <%= @presenter.permission_badge %> <%= presenter.workflow.badge %>
          <% end %>

      <% else %>
        <h2 class="title-header"><%= title %></h2>
      <% end %>
    </div>
  </div>
<% end %>
